// //---------  COLORS ---------
$color-red-main: #e14e3a;
$color-red-dark: #c43e2c;
$color-red-very-light: #ffe9e5;
$color-red-very-light-2: #fff8f8;

$color-teal-main: #00b3b9;
$color-teal-dark: #049398;
$color-teal-very-light: #e5feff;

$color-yellow-main: #f7d30c;
$color-yellow-very-light: #fffbe5;
$color-yellow-very-light: #fcd10a;
$color-yellow-dark: #e2ba09;

$color-orange: #ee7d22;
$color-orange-dark: #cd6917;
$color-orange-very-light: #fff1e5;

$color-green-main: #9bcd64;
$color-green-dark: #7eb245;
$color-green-very-light: #f3ffe5;

$color-white: #ffffff;
$color-white-light: #f5f5f5;
$color-dark: #000000;
$color-dark-grey: #505050;
$color-lightish-grey: #c4c4c4;

// //--------- TYPOGRAPHY ---------
// $font-size-h1: 6rem;
// $font-size-h2: 4.2rem;

// $font-size-p-larger: 2.8rem;
// $font-size-p-large: 2.4rem;
// $font-size-p-medium: 1.6rem;
// $font-size-p-small: 1.4rem;

//--------- MARGINS ---------

// $margin-top-largest: rem;
// $margin-top-larger: rem;
// $margin-top-large: rem;
// $margin-top-small: rem;

// $margin-bottom-largest: rem;
// $margin-bottom-larger: rem;
// $margin-bottom-large: rem;
// $margin-bottom-small: rem;

// $margin-left-largest: rem;
// $margin-left-larger: rem;
// $margin-left-large: rem;
// $margin-left-small: rem;
