.btn-red {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-white;
  background-color: $color-red-main;
  padding: 1rem 3rem;
  box-shadow: 0 1.4rem 2rem rgba($color-red-main, 0.3);
  border: none;

  @include respond(tab-port) {
    background-color: transparent;
    border: 2px solid $color-white;
    font-size: 2.4rem;
    padding: 1rem 10rem;
  }
}

.btn-red:hover {
  background-color: $color-red-dark;
  box-shadow: 0 1.4rem 2rem rgba($color-red-main, 0.3);
}
.btn-red2 {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-white;
  background-color: $color-red-main;
  padding: 1rem 3rem;
  box-shadow: 0 1.4rem 2rem rgba($color-red-main, 0.3);
  border: none;

  @include respond(tab-port) {
    font-size: 2.4rem;
    padding: 1.5rem 15rem;
  }
}

.btn-red:hover {
  background-color: $color-red-dark;
  box-shadow: 0 1.4rem 2rem rgba($color-red-main, 0.3);
}
