.btn-red {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-white;
  background-color: $color-red-main;
  padding: 1rem 3rem;
  display: inline-block;
  box-shadow: 0 1.4rem 2rem rgba($color-red-main, 0.3);
  border: none;

  @include respond(phone) {
    display: none;
  }
}

.btn-red:hover {
  background-color: $color-red-dark;
  box-shadow: 0 1.4rem 2rem rgba($color-red-main, 0.3);
}
